html {
  box-sizing: border-box;
  background-color: rgb(1, 149, 119);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 560px;
  height: 440px;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  box-shadow: 4px 4px 16px rgba(14, 47, 41, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 40px 48px;
  background: url(./img/bicycle.png) rgb(250, 250, 250) 0 170px / 100% no-repeat;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.account {
  position: relative;
}

.account__bg {
  width: 52px;
  height: 52px;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.account:hover .account__bg {
  opacity: 1;
}

.account > img {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(250, 250, 250);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  font-size: 14px;
  color: rgb(159, 159, 159);
  margin-top: 8px;
}

table {
  width: 100%;
}

tr {
  line-height: 2.5rem;
}

td.item {
  color: rgb(89, 89, 89);
}

td.price {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
}

td.total {
  color: rgb(89, 89, 89);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
